html {
    /* overflow: hidden; */
    scroll-behavior: smooth !important;
    overflow-x: hidden;
    color: #fff;
    background-color: rgba(0, 0, 0, 1);
}
body{
    font-size: 1.5rem;
}
:root {
    --green: #a8eb12;
    --light-blue1: #39d3ed;
    --light-blue2: #74c9f2;
    --med-blue: #028ca7;
    --sea-blue: #035358;
    --dark-blue: #013646;
}

.fade-in{
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.7s ease-out;
}
.faded-in{
    opacity: 1 !important;
    transform: translateY(0) !important;
}

/* parallax section */
.landing-parallax{
    height: 96vh !important;
    z-index: 0 !important;
}
.parallax-container{
    /* z-index: -10; */
}
.react-parallax-content{
    top: 40%;
}
.react-parallax .react-parallax-bgimage{
    z-index: -10;
}

/* landing section */
.c-landing-text{
    max-width: 50vw;
    margin: auto;
}
.opacity-0{
    opacity: 0;
}

/* content section */
.custom-navbar {
    display: block;
    position: fixed !important;
    top: 0;
    background-image: linear-gradient(-90deg, rgba(0, 0, 0, 0.5) 20%, transparent);
    height: 6rem;
    z-index: 5;
}
#nav-mobile {
    height: 6rem;
    display: flex;
    align-items: center;
    margin-right: 1rem;
    transition: all 0.3s ease-out;
}
#nav-mobile a{
    font-size: 1.5rem;
    transition: all 0.3s ease-out;
}
#nav-mobile a:hover{
    color: var(--sea-blue);
    text-shadow: 0 0 17px var(--sea-blue);
    background: transparent;
}
.nav-wrapper{
    display: flex;
    align-items: center;
    float: right;
}
#bars{
    font-size: 2rem;
    margin-right: 1rem;
    opacity: 0.9;
    transition: all 0.3s ease-out;
}
.modal-content a{
    width: 100%;
}
.section-title {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
    background-image: linear-gradient(transparent 75%, var(--sea-blue) 75%);
    /* background-image: linear-gradient(transparent 75%, linear-gradient(right blue , #ff7043 ) 75%); */
    /* background-image: linear-gradient(45deg, #39d3ed , #a8eb12 ); */
}
.content-wrapper {
    /* background: rgba(43, 43, 46, 1); */
    background-image: linear-gradient(to right bottom, rgb(30, 30, 32), rgb(53, 53, 56), rgb(33, 33, 36) );
    padding-bottom: 20px;
}
.content-wrapper-bg-color{
    background: rgba(43, 43, 46, 1);
}
.content-wrapper-shape {
    margin-top: -5vh;
    margin-bottom: -5vh;
    clip-path: polygon(
        0 calc(0% + 5vh), 
        100% 0%, 
        100% calc(100% - 5vh), 
        0% 100%
    );
    padding-top: 7vh;
    padding-bottom: 5vh;
}
.contacts-section-shape {
    margin-top: -5vh;
    clip-path: polygon(
        0 0, 
        100% calc(0% + 5vh), 
        100% 100%, 
        0% 100%
    );
    padding-top: 5vh;
    padding-bottom: 5vh;
}
#contact-links a{
    transition: all 0.3s ease-out
}
#contact-links a:hover{
    color: var(--sea-blue);
    text-shadow: 0 0 17px var(--sea-blue);
}
.flex{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
}
.jumbotron{
    background-color: rgba(170, 170, 170, 0.9);
    border-radius: 5px;
    padding: 20px !important;
    margin-bottom: 10px;
    box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.44);
}
.jumbotron-custom-bg{
    background-image: linear-gradient(to right, rgba(170, 170, 170, 1) 40%, transparent ), url("../pics/work.jpg");
    background-color: transparent !important;
}
.jumbotron-custom-bg-trans{
    /* background: rgba(0, 0, 0, 0.3); */
    background: rgba(30, 30, 32, 1);
    padding: 10px 40px 10px 40px !important;
}
.jumbotron-custom-box-shadow{
    box-shadow: 0 8px 17px 2px rgba(3, 83, 88, 0.44);
}
.btn-margin {
    margin: 0 10px 10px 0;
}
.btn-background {
    background-image: linear-gradient(to right, var(--sea-blue) 40%, transparent ), url("../pics/work.jpg");
}
.icon-margin {
    margin-right: 10px;
}
.animated-text-1s{
    animation: animate-text 1s ease-out 1s forwards;
}
.animated-text-3s{
    animation: animate-text 3s ease-out 1s forwards;
}
.links{
    align-items: center;
}
.link-text{

}
.trans-btn {
    align-self: center;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 3px;
}
.trans-btn:hover {
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.44);
    /* color: transparent; */
    /* transition: .3s ease-out; */
}

.no-padding{
    padding: 0 !important;
}
.c-mobile-nav{
    /* background-color: #035358; */
    background-image: linear-gradient(to right bottom, var(--dark-blue), var(--sea-blue) )
}
.modal-footer{
    /* background-color: transparent !important; */
    display: none;
}
/* gradient instead of video tag */
#home div:first-child {
    background-image: linear-gradient(to right bottom, var(--dark-blue), #035e64 )
}
#work {
    background-image: linear-gradient(to right bottom, #012d3a, #035e64 )
}


/* tag styling section */
ul li a {
    font-size: 1.3rem;
    font-weight: normal !important;
    font-family: Arial, Helvetica, sans-serif;
}
p::selection, h1::selection, h2::selection, h3::selection, br::selection {
    color: var(--green);
}
a {
    color: #fff;
}

/* pseudo elements */
/* .content-wrapper::before {
    content: "";
    height: 4vh;
    display: block !important;
    clip-path: polygon(0 70%, 100% 0%, 100% 100%, 0% 100%);
    background: rgb(116, 113, 113);
    z-index: 3;
    position: relative;
} */

.footer{
    background: rgb(32, 32, 34);
    height: 6vh;
    width: 100%;
}
.footer p {
    margin: 0;
    font-weight: lighter !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}