@media screen and (max-width: 992px){
    .jumbotron-custom-bg{
        background-image: linear-gradient(to top, rgba(170, 170, 170, 1) 40%, transparent ), url("../pics/work.jpg");
    }
    .jumbotron-custom-bg-trans{
        padding: 20px !important;
    }
    .parallax-container{
        height: 400px;
    }
    .react-parallax-content{
        top: 30%;
    }
    .custom-navbar{
        height: 5rem;
    }
    .c-mobile-nav{
        width: 70%;
    }
    h1{
        font-size: 3.5rem;
    }
    h2{
        font-size: 3rem;
    }
    h3{
        font-size: 2.4rem;
    }
    p{
        font-size: 1.4rem;
    }
}
@media screen and (max-width: 600px){
    /* .jumbotron-custom-bg{
        background-image: linear-gradient(to top, rgba(170, 170, 170, 1) 40%, transparent ), url("../pics/work.jpg");
    }
    .jumbotron-custom-bg-trans{
        padding: 20px !important;
    } */
    .parallax-container{
        height: 250px;
    }
    .react-parallax-content{
        top: 20%;
    }
    .custom-navbar{
        height: 4rem;
    }
    .c-mobile-nav{
        width: 80%;
    }
    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 2.7rem;
    }
    h3{
        font-size: 2.2rem;
    }
    p{
        font-size: 1.3rem;
    }
    .c-landing-text{
        max-width: 70vw;
    }
}

@keyframes animate-text{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
        filter: blur(10px);
        transform: scale(0.9);
    }
    100%{
        opacity: 1;
        filter: blur(0);
        transform: scale(1);
    }
}